.node circle {

}

.node text {
    font: 12px sans-serif;
}

text .shadow {
    text-shadow: white 0px 0px 10px;
}

.link {
  fill: none;
  stroke: #999;
  stroke-opacity: 1;
}

.svg-container {
    float:left;
    width: 1000px;
    height: 700px;
    opacity: 1;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 25px;
    border: 2px solid #aaa;
}

.svg-network-container {
    float:left;
    width: 1000px;
    height: 800px;
    opacity: 1;
    border-radius: 25px;
    border: 2px solid #aaa;
}

.header {
    font-size: large;
}

.right-column {
    display: inline-block;
    padding-left: 10px;
}
.staticTooltip{
    background-color: lightgrey;
    display: inline-block;
    width: 90%;
    text-align: left;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 2px 2px;
    -webkit-box-shadow: 2px 2px;
}

.staticTooltip p {
	width: 100%;
	display: inline-block;
	margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.staticTooltip span {
	float:right;
}

#loading {
    text-align: center;
    font-size: 30px;
    width: 100%;
    padding-top: 3%;
}
