.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.content-box {
    box-sizing: border-box;
    margin-bottom: 1%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-top: 0.5%;

    background-color: #ccc;
    border-radius: 15px;

    width: 80%;
}

.svg-container {
    width: 100%;
    opacity: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 25px;
    border: 2px solid #aaa;
}

.default-confs input[type=radio] {
    margin-right: 0.7%;
}

.header {
    font-size: large;
}

#button-space {
    margin-top: 0.5%;
    margin-bottom: 0.2%;
}

div.tooltip {
    /* Width & height are handled by flex */
    display: flex;
    position: absolute;

    text-align: left;
    padding: 4px;

    font: 12px sans-serif;
    background: lightsteelblue;

    border: 0px;
    border-radius: 8px;

    z-index: 1;
}
