.node circle {

}

.node text {
    font: 12px sans-serif;
}

text .shadow {
    text-shadow: white 0px 0px 10px;
}

.link {
  fill: none;
  stroke: #999;
  stroke-opacity: 0.6;
}

.content-box {
    box-sizing: border-box;
    margin-bottom: 1%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-top: 0.5%;

    background-color: #ccc;
    border-radius: 15px;

    width: 80%;
}

.svg-container {
    width: 100%;
    opacity: 1;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 25px;
    border: 2px solid #aaa;
}

.header {
    font-size: large;
}

div.tooltip {
    /* Width & height are handled by flex */
    display: flex;
    position: absolute;

    text-align: left;
    padding: 4px;

    font: 12px sans-serif;
    background: lightsteelblue;

    border: 0px;
    border-radius: 8px;

    z-index: 1;
}


.staticTooltip{
    background-color: #ece7f2;
    position: absolute;
    top: 300px;
    left:10px;
    display:flex;
    text-align:left;
    padding-left:5px;
    padding-top:5px;

    border-radius:10px;
    -webkit-border-radius: 10px;
    box-shadow:2px 2px;
    -webkit-box-shadow:2px 2px;
}

.staticTooltip p {
	width:100%;
	display:inline-block;
}

.staticTooltip span {
	float:right;
}
